# OSX
.DS_Store

# for development
node_modules
.idea/

# localconfig
/app/src/localconfig/local.conf.json
/app/src/localconfig/fullStackFrontPage.json
/app/src/localconfig/webpush.subscribelist.json

# ssl
/app/t-tom.key
/app/t-tom.crt

build/

_gallery/static
