doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        title Auth Login Success
    body
        h3 Welcome to Nomand's website
        h4 waite a moment, it will be refresh automatically
    script(type='text/javascript').
        var platformUser = "#{platformUser}"
        window.sessionStorage.setItem('platformUser', platformUser);
        setTimeout(function () {
            window.opener.location.reload();
            window.close();
        }, 2000)

