{
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "extends": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": false,
        "jsxBracketSameLine": true
      }
    ]
  }
}