<script type="text/javascript">
  window.customElements.define(
    'back-to-top',
    class BackToTop extends HTMLElement {
      constructor() {
        super()
      }

      connectedCallback() {
        const shadowRoot = this.attachShadow({ mode: 'open' })

        shadowRoot.innerHTML = `
          <style>
            :host {
              box-sizing: border-box;
              position: fixed;
              width: 55px;
              height: 55px;
              bottom: 8%;
              right: 3%;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              cursor: pointer;
              will-change: transform;
              transform: translate3d(0, 500px, 0);
              transition: transform 1s ease;
              background: #ff8181;
              border: 1px solid #ff8181;
              color: #fff;
            }
            :host(.show) {
              transform: translate3d(0, 0, 0);
            }
            :host::after,
            :host::before {
              content: '';
              display: block;
              box-sizing: border-box;
              position: relative;
            }
            :host::before {
              width: 8px;
              height: 8px;
              border-top: 2px solid;
              border-left: 2px solid;
              transform: rotate(45deg);
              top: 4px;
            }
            :host::after {
              width: 2px;
              height: 16px;
              top: -4px;
              background: currentColor;
            }
        `

        shadowRoot.host.addEventListener('click', e => {
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth',
          })
        })

        const scrollHeight = document.documentElement.scrollHeight

        window.addEventListener('scroll', e => {
          if (document.documentElement.scrollTop > scrollHeight / 4) {
            shadowRoot.host.classList.add('show')
          } else {
            shadowRoot.host.classList.remove('show')
          }
        })
      }
    },
  )
</script>
<back-to-top></back-to-top>
