<div id="disqus_thread" class="no-print"></div>
<script type="text/javascript">

  (function () {
    // Don't ever inject Disqus on localhost--it creates unwanted
    if (window.location.hostname == "localhost")
      return;

    const disqus_thread = document.querySelector('#disqus_thread')
    new IntersectionObserver(function (entries, observer) {
        entries.forEach(entry => {
          if (entry.intersectionRatio > 0 && !disqus_thread.classList.contains('active')) {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            var disqus_shortname = '{{ .Site.DisqusShortname }}';
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            disqus_thread.classList.add('active')
          }
        })
      }, {
        rootMargin: '0px',
        threshold: 1.0
      }
    ).observe(disqus_thread)

  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
