<iframe
        id="jsfiddle-{{ index .Params 0 }}"
        width="100%"
        height="1"
        style="visibility: hidden;"
        src=""
        allowfullscreen="allowfullscreen"
        allowpaymentrequest
        frameborder="0"
></iframe>
<script>
    window.DOMObserver(document.getElementById('jsfiddle-{{ index .Params 0 }}'), function ($target) {
        $target.src = '//jsfiddle.net/Nomad/{{ index .Params 0 }}/embedded/';
        $target.setAttribute('height', 300);
        $target.style.visibility = 'visible';
        $target.parentNode.removeChild($target.nextElementSibling)
    })
</script>